# Directories
.husky/_
.idea
.vercel
_playwright-report
_playwright-results
dist
lib
node_modules

# Files
.DS_Store
*.log

# Exceptions
!.gitkeep
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
